/**
 * Colors Palette
 */

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575; //color white
$grey-700: #616161; //color white
$grey-800: #424242; //color white
$grey-900: #212121; //color white

$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C; //color white
$blue-grey-500: #607D8B; //color white
$blue-grey-600: #546E7A; //color white
$blue-grey-700: #455A64; //color white
$blue-grey-800: #37474F; //color white
$blue-grey-900: #263238; //color white